<h1>Recent History</h1>

<div class="result-content">
<table>

  <tr>
    <th>Lot #</th>
    <th>Technician</th>
  </tr>

  <% @quality_histories.each do |quality_history| %>
    <% if quality_history.quality %>
    <tr class="clickable">
      <td><%= link_to(quality_history.quality.full_lot, quality_path(quality_history.quality)) %></td>
      <td><%= quality_history.user.last_name %>, <%= quality_history.user.first_name %> (<%= quality_history.user.facility.display_name %>, <%= quality_history.user.facility.city %>)</td>
    </tr>
    <% end %>
  <% end %>
  
</table>

<%= paginate @quality_histories, :remote => true %>
</div>
