<div class="search-container">
  <div class="wrapper">
    <%= form_for(@search, :url => users_path, :remote => true, :html => {:style => 'position:relative;', :method => :get}) do |f| %>
      <%= f.text_field :first_name_or_last_name_or_email_contains, :placeholder => 'Search users (first name, last name, id)', :style => 'width:100%' %>
      <%= f.submit 'Search', :id => 'search-button', :style => 'position:absolute;top:1px;margin-top:-1px;right:-4px'; %>
    <% end %>
  </div>
</div>

<div class="result-container">
  <h3>Search Results</h3>
  <div class="result-navigation">
    <ul>
      <li class="first current last">Users (<span class="result-count">0</span>)</li>
    </ul>
  </div>
  
  <div class="result-content">
  </div>
</div>

<div class="actions-container">
  <div class="action action-create-new-user action">
    <div class="wrapper">
      <h4><%= link_to('Create new user',new_user_path) %></h4>
      <p>Click here to add a new user to the quality assurance website. The user’s profile can be created for specific access and privileges. </p>
    </div>
  </div>
  
  <div class="action action-edit-your-account action">
    <div class="wrapper">
      <h4><%= link_to('Edit your account',:action => 'me') %></h4>
      <p>Click here to change or update your account information.</p>
    </div>
  </div>
</div>