<h4>Change Your Password</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat venenatis rutrum. Phasellus vitae leo eget augue vestibulum ullamcorper. Proin lacus odio, semper sit amet interdum ut, laoreet et risus.</p>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
